<template>
  <div class="px-3 py-3 d-flex">
    <img src="https://pbs.twimg.com/profile_images/1403556543098916872/83tVAzyy_400x400.jpg" class="profile-pic rounded-circle">
    <form class="w-100" v-on:submit="handleSubmitPost">
      <textarea class="form-control mb-2 border-0 shadow-none post-input" :rows="postHeight" name="post" placeholder="What's happening?" v-on:keyup.enter="handleEnterPost"></textarea>
      <div class="d-flex justify-content-between">
        <div class="d-flex">
          <a href="#" class="media-link" title="Image">
            <i class="bi bi-image"></i>
          </a>
          <a href="#" class="media-link" title="File">
            <i class="bi bi-file-earmark"></i>
          </a>
          <a href="#" class="media-link" title="Audio">
            <i class="bi bi-music-note-beamed"></i>
          </a>
        </div>
        <button type="submit" class="btn btn-primary rounded-pill">Twoot</button>
      </div>
    </form>

  </div>
</template>

<script>
export default {
  name: 'PostInput',
  data() {
    return {
      postHeight: 1
    }
  },
  methods: {
    handleEnterPost() {
      this.postHeight += 1
    },
    handleSubmitPost(e) {
      e.preventDefault()
      const id = new Date().getTime()
      const form = new FormData(e.target)
      const data = Object.fromEntries(form)
      const post = {id: id, content: data.post}
      this.$emit('inputPost', post)
      e.target.reset()
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .profile-pic {
    width: 4rem;
    height: 4rem;
    margin-right: 1rem;
  }

  .post-input {
    resize: none;
    overflow: hidden;
    min-height: 50px;
    max-height: 100px;
  }

  .media-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    border-radius: 50%;
  }
  
  .media-link:hover {
    background-color: #eeeeee;
  }
</style>
