<template>
  <div class="feeds">
    <Navbar appName="Home"/>
    <InputPost @inputPost="setPosts"/>
    <div class="divider"></div>
    <ul class="list-group list-group-flush">
      <Post v-for="post in posts" :key="post.id" v-bind:content="post.content" />
    </ul>
  </div>
</template>

<script>
import Navbar from '../Navbar.vue'
import InputPost from './InputPost.vue'
import Post from './Post.vue'

export default {
  name: 'Main',
  components: {
    Navbar,
    InputPost,
    Post
  },
  data() {
    return {
      posts: []
    }
  },
  methods: {
    setPosts(post) {
      const prevPosts = this.posts
      this.posts = [post, ...prevPosts]
      window.localStorage.posts = JSON.stringify(this.posts)
    }
  },
  mounted() {
    if (window.localStorage.posts) {
      this.posts = JSON.parse(window.localStorage.posts)
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .feeds {
    min-height: 100vh;
  }

  .divider {
    height: 20px;
    width: 100%;
    background-color: #dee2e6;
  }
</style>
