<template>
  <li class="list-group-item py-3 d-flex">
    <img src="https://pbs.twimg.com/profile_images/1403556543098916872/83tVAzyy_400x400.jpg" class="profile-pic rounded-circle">
    <div>
      <div class="mb-1">
        <strong>Tim Cook</strong>
        <i class="bi bi-patch-check-fill text-info ms-1"></i>
        <span class="text-muted ms-2">@timcook</span>
        <span class="text-muted ms-1">· 1h</span>
      </div>
      {{content}}
    </div>
  </li>
</template>

<script>
export default {
  name: 'Post',
  props: {
    content: String
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .profile-pic {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
  }
</style>
