<template>
  <div class="py-2 px-3">
    <h3>{{appName}}</h3>
    <ul class="list-group list-group-flush">
      <li class="list-group-item border-0 ps-0">
        <a href="#" class="text-reset text-decoration-none">
          <i class="bi bi-house me-3"></i>
          <span>Home</span>
        </a>
      </li>
      <li class="list-group-item border-0 ps-0">
        <a href="#" class="text-reset text-decoration-none">
          <i class="bi bi-hash me-3"></i>
          <span>Explorer</span>
        </a>
      </li>
      <li class="list-group-item border-0 ps-0">
        <a href="#" class="text-reset text-decoration-none">
          <i class="bi bi-bell me-3"></i>
          <span>Notification</span>
        </a>
      </li>
      <li class="list-group-item border-0 ps-0">
        <a href="#" class="text-reset text-decoration-none">
          <i class="bi bi-envelope me-3"></i>
          <span>Message</span>
        </a>
      </li>
      <li class="list-group-item border-0 ps-0">
        <a href="#" class="text-reset text-decoration-none">
          <i class="bi bi-bookmark me-3"></i>
          <span>Bookmarks</span>
        </a>
      </li>
      <li class="list-group-item border-0 ps-0">
        <a href="#" class="text-reset text-decoration-none">
          <i class="bi bi-card-list me-3"></i>
          <span>Lists</span>
        </a>
      </li>
      <li class="list-group-item border-0 ps-0">
        <a href="#" class="text-reset text-decoration-none">
          <i class="bi bi-person me-3"></i>
          <span>Profile</span>
        </a>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'LeftNav',
  props: {
    appName: String
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
