<template>
  <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
    <div class="container px-3">
      <a class="navbar-brand" tabindex="-1" href="#">{{appName}}</a>
    </div>
  </nav>
</template>

<script>
export default {
  name: 'Navbar',
  props: {
    appName: String
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
