<template>
  <div class="py-2 px-3">
    <input type="search" class="form-control rounded-pill" placeholder="Search twotter">
  </div>
</template>

<script>
export default {
  name: 'Trend'
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
