<template>
  <div id="app" class="container">
    <div class="row g-0">
      <div class="col-12 col-md-3">
        <LeftNav appName="Twotter"/>
      </div>
      <div class="col-12 col-md-6 border-start border-end">
        <Feed/>
      </div>
      <div class="col-12 col-md-3">
        <Trend/>
      </div>
    </div>
  </div>
</template>

<script>
import LeftNav from './components/LeftNav.vue'
import Feed from './components/Feed/Main.vue'
import Trend from './components/Trend.vue'

export default {
  name: 'App',
  components: {
    LeftNav,
    Feed,
    Trend
  }
}
</script>

<style>
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;900&display=swap');
#app {
  font-family: Poppins, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
</style>
